body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
  margin-top: 100px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
